@charset "UTF-8";

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Condensed-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Condensed-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: "Montserrat";
  font-size: 0.75rem;
  line-height: 125%;
  color: #403D42;
  font-weight: 500;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 23.4375rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.form__title {
  font-family: "OpenSans";
  font-weight: 700;
  font-size: 33px;
  line-height: 142%;
  text-align: center;
  color: #9960E1;
  margin-bottom: 15px;
}

.form__text {
  font-size: 10px;
  text-align: center;
  margin-bottom: 30px;
}

.form__row {
  position: relative;
}

.form__row:not(:last-child) {
  margin-bottom: 20px;
}

.form__label {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 5px;
  font-weight: 600;
}

.form__label span {
  color: #9960E1;
  font-weight: 700;
  font-size: 10px;
  display: block;
}

.form__input {
  width: 100%;
  height: 49px;
  padding: 15px;
  background: rgba(153, 96, 225, 0.1);
  border: 1px solid #9960E1;
  border-radius: 25px;
  outline: transparent;
}

.form__input._form-error {
  border: 1px solid red;
}

.form__button:disabled {
  opacity: 0.3;
  cursor: inherit;
}

.form__error {
  position: absolute;
  bottom: -15px;
  left: 20px;
  color: red;
  font-size: 10px;
}

.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.9375em;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:checked + .checkbox__label:before {
  background-image: url("data:image/svg+xml,%3Csvg width=%2712%27 height=%2710%27 viewBox=%270 0 14 13%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath opacity=%270.8%27 d=%27M1.03857 5.23077L6.53857 12L12.4617 1%27 stroke=%27%239960E1%27 stroke-width=%271.69231%27 stroke-linejoin=%27round%27/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  gap: 10px;
}

.checkbox__label:before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18px;
          flex: 0 0 18px;
  width: 18px;
  height: 18px;
  border: 1px solid #9960E1;
  border-radius: 2px;
  opacity: 0.8;
}

.checkbox__text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 8px;
  line-height: 120%;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
  width: 100%;
  background: #9960E1;
  -webkit-box-shadow: 0px 0px 20px -2px rgba(167, 113, 236, 0.7);
          box-shadow: 0px 0px 20px -2px rgba(167, 113, 236, 0.7);
  border-radius: 28px;
  font-size: 18px;
  line-height: 1.2222222222;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.btn-transparent {
  background: #fff;
  border: 1px solid #9960E1;
  color: #9960E1;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  font-size: 15px;
}

.btn:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  position: relative;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  padding: 35px 20px;
  width: 100%;
  max-width: 340px;
  background: #FFFFFF;
  border: 1px solid #9960E1;
  -webkit-box-shadow: 4px 4px 0px #9960E1;
          box-shadow: 4px 4px 0px #9960E1;
  border-radius: 25px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  position: absolute;
  top: -10px;
  right: -15px;
  font-size: 24px;
  color: #fff;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.section__title {
  font-family: "OpenSans";
  font-size: 33px;
  line-height: 142%;
  font-weight: 700;
  text-transform: uppercase;
}

.section__title span {
  color: #9960E1;
}

.page-main {
  background: #E7E7E7;
}

.header {
  padding-top: 42px;
  padding-bottom: 17px;
  background-color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__start {
  padding: 5px 13px;
  border: 1px solid #9960E1;
  border-radius: 35px;
  text-transform: uppercase;
  color: #9960E1;
  z-index: 100;
}

.header__produced {
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "OpenSans";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  white-space: nowrap;
}

.header__produced span {
  color: #9960E1;
}

.menu__navigation {
  position: fixed;
  top: 0;
  right: -200%;
  width: 100%;
  height: 100%;
  z-index: 99;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  padding-top: 155px;
  background-color: #fff;
}

.menu-open .menu__navigation {
  right: 0;
}

.menu__item {
  text-align: center;
}

.menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.menu__link {
  font-family: "OpenSans";
  font-weight: 700;
  font-size: 33px;
  line-height: 142%;
  text-align: center;
  color: #9960E1;
}

.menu__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  border: 0.862069px solid #9960E1;
  border-radius: 35px;
  padding: 8px;
  position: relative;
  z-index: 100;
  text-transform: uppercase;
  color: #9960E1;
  cursor: pointer;
}

.icon-menu {
  display: block;
  position: relative;
  width: 0.9375rem;
  height: 0.625rem;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.046875rem;
  background-color: #9960E1;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.footer__container {
  padding-top: 40px;
  padding-bottom: 75px;
  border-top: 1px solid #86878C;
  text-align: center;
}

.footer__produced {
  font-family: "OpenSans";
  font-weight: 700;
  font-size: 25px;
  line-height: 100%;
  opacity: 0.8;
  margin-bottom: 30px;
}

.footer__produced span {
  color: #9960E1;
}

.footer__links {
  margin-bottom: 15px;
}

.footer__links a {
  display: block;
  opacity: 0.8;
}

.footer__links a:not(:last-child) {
  margin-bottom: 10px;
}

.footer__info {
  margin-bottom: 15px;
  opacity: 0.8;
}

.intro {
  background: #FFFFFF;
  border-radius: 0px 0px 25px 25px;
  padding-bottom: 35px;
  padding-top: 10px;
}

.intro__promo {
  width: 100%;
  height: 335px;
  position: relative;
  border-radius: 50%;
  margin-bottom: 30px;
}

.intro__promo video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__subtitle {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 600;
}

.intro__title {
  font-size: 55px;
  line-height: 1.2363636364;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}

.intro__title span {
  font-size: 87px;
  line-height: 1.2183908046;
  font-weight: 800;
}

.intro__title span.acent {
  color: #9960E1;
}

.intro__title span.transparent {
  color: transparent;
  text-shadow: none;
  color: transparent;
  -webkit-text-stroke: 1px #9960E1;
}

.intro__text {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 17px;
}

.about {
  padding-top: 45px;
  padding-bottom: 55px;
}

.about__title {
  margin-bottom: 30px;
}

.about__text {
  font-size: 15px;
  line-height: 142%;
  margin-bottom: 40px;
}

.about__text span {
  font-weight: 900;
  color: #9960E1;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 6px;
}

.about__item:not(:last-child) {
  margin-bottom: 5px;
}

.about__item-num {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  font-family: "OpenSans";
  font-weight: 700;
  font-size: 112px;
  line-height: 1;
  color: #9960E1;
}

.about__item-text {
  margin-bottom: 15px;
  text-transform: lowercase;
  font-size: 11px;
  line-height: 125%;
}

.feature {
  background: #FFFFFF;
  border-radius: 25px;
  padding: 45px 0;
  margin-bottom: 75px;
}

.feature__suptitle {
  font-family: "OpenSans";
  font-weight: 700;
  font-size: 15px;
  line-height: 142%;
  margin-bottom: 40px;
}

.feature__item {
  border: 1px solid #9960E1;
  border-radius: 20px;
}

.feature__item:not(:last-child) {
  margin-bottom: 30px;
}

.feature__item:last-child {
  margin-bottom: 45px;
}

.feature__item-text {
  line-height: 142%;
  padding: 17px 30px;
}

.feature__item-text span {
  color: #9960E1;
  font-weight: 700;
  text-transform: uppercase;
}

.feature__text {
  margin-bottom: 25px;
  font-size: 11px;
  font-weight: 600;
  line-height: 142%;
}

.feature__text span {
  color: #9960E1;
  text-transform: uppercase;
}

.feature__btn {
  padding-left: 47px;
  padding-right: 47px;
}

.trainer {
  margin-bottom: 75px;
}

.trainer__title {
  margin-bottom: 10px;
}

.trainer__text {
  font-weight: 600;
  margin-bottom: 20px;
  padding-right: 20px;
}

.trainer__slider {
  position: relative;
}

.trainer__item {
  border: 1px solid #9960E1;
  border-radius: 25px;
  padding-bottom: 90px;
}

.trainer__item-img {
  border-radius: 25px;
}

.trainer__item-img img {
  border-radius: 25px;
}

.trainer__item-body {
  padding: 20px;
}

.trainer__item-name {
  font-family: "OpenSans";
  font-weight: 700;
  font-size: 33px;
  line-height: 142%;
  text-transform: uppercase;
  color: #9960E1;
  margin-bottom: 5px;
}

.trainer__item-insta {
  display: inline-block;
  background: #9960E1;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 10px;
  color: #FFFFFF;
  margin-bottom: 17px;
}

.trainer__item-text:not(:last-child) {
  margin-bottom: 10px;
}

.trainer__item-text span {
  font-weight: 600;
  color: #9960E1;
  text-transform: uppercase;
}

.trainer__item-position {
  font-weight: 600;
  margin-bottom: 10px;
}

.trainer__control {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.trainer__button,
.reviews__button,
.shorts__button {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #9960E1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trainer__button.swiper-button-disabled,
.swiper-button-disabled.reviews__button,
.swiper-button-disabled.shorts__button {
  opacity: 0.5;
}

.trainer__button-prev,
.reviews__button-prev,
.shorts__button-prev {
  padding-right: 3px;
}

.trainer__button-next,
.reviews__button-next,
.shorts__button-next {
  padding-left: 3px;
}

.packages {
  margin-bottom: 75px;
}

.packages__title {
  margin-bottom: 35px;
}

.packages__btn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  padding-top: 14px;
  padding-bottom: 8px;
  margin-bottom: 15px;
}

.packages__btn span {
  font-size: 9px;
  text-transform: lowercase;
}

.item-packages {
  background-color: #fff;
  border: 1px solid #9960E1;
  -webkit-box-shadow: 4px 4px 0px #9960E1;
          box-shadow: 4px 4px 0px #9960E1;
  border-radius: 25px;
}

.item-packages:not(:last-child) {
  margin-bottom: 35px;
}

.item-packages > * {
  padding: 25px 0;
}

.item-packages__header {
  text-align: center;
}

.item-packages__package {
  font-family: "OpenSans";
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-shadow: none;
  color: transparent;
  -webkit-text-stroke: 1px #9960E1;
}

.item-packages__body {
  border-top: 1px solid #9960E1;
  border-bottom: 1px solid #9960E1;
  padding-left: 20px;
  padding-right: 20px;
}

.item-packages__group:not(:last-child) {
  margin-bottom: 25px;
}

.item-packages__list li {
  position: relative;
  padding-left: 15px;
  font-size: 15px;
  line-height: 142%;
}

.item-packages__list li:not(:last-child) {
  margin-bottom: 10px;
}

.item-packages__list li::before {
  content: "+";
  position: absolute;
  top: 2px;
  left: 0;
  color: #9960E1;
  font-weight: 900;
}

.item-packages__list li span {
  font-weight: 700;
  color: #9960E1;
}

.item-packages__list.add li {
  color: #86878C;
}

.item-packages__list.add li::before {
  content: "-";
  color: #86878C;
  top: 0;
}

.item-packages__title {
  font-family: "OpenSans";
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  text-transform: uppercase;
  color: #8C5FCB;
  margin-bottom: 10px;
}

.item-packages__title.add {
  color: #86878C;
}

.item-packages__footer {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.item-packages__price {
  font-family: "OpenSans";
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  color: #9960E1;
  margin-bottom: 25px;
}

.present {
  margin-bottom: 75px;
}

.present__title {
  margin-bottom: 20px;
}

.present__title span {
  display: block;
}

.present__text {
  font-size: 15px;
  line-height: 142%;
  margin-bottom: 35px;
}

.present__text span {
  font-size: 15px;
  line-height: 142%;
  font-weight: 700;
  color: #9960E1;
}

.present__img {
  border-radius: 15px;
  margin-bottom: 35px;
}

.present__img img {
  width: 100%;
  border-radius: 15px;
}

.shorts {
  margin-bottom: 75px;
}

.shorts__container {
  position: relative;
}

.shorts__title {
  margin-bottom: 35px;
}

.shorts__suptitle {
  font-family: "OpenSans";
  font-weight: 700;
  text-transform: uppercase;
  width: 92px;
  position: absolute;
  top: 55px;
  right: 72px;
}

.shorts__wrapper {
  margin-bottom: 20px;
}

.shorts__slide {
  height: 540px;
  position: relative;
}

.shorts__slide iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.shorts__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.reviews {
  margin-bottom: 75px;
}

.reviews__title {
  margin-bottom: 10px;
}

.reviews__tetx {
  font-weight: 600;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.reviews__slider {
  padding-right: 5px;
}

.reviews__wrapper {
  margin-bottom: 25px;
}

.reviews__item {
  -webkit-box-shadow: 4px 4px 0px #9960E1;
          box-shadow: 4px 4px 0px #9960E1;
  border-radius: 25px;
  background: #D9D9D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__item img {
  width: 100%;
  max-height: 90%;
}

.reviews__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.faq {
  margin-bottom: 75px;
}

.faq__title {
  margin-bottom: 35px;
}

.faq__title span {
  display: block;
}

.faq__item {
  border-bottom: 1px solid #86878C;
  padding: 15px 0;
}

.faq__item-title {
  font-size: 15px;
  line-height: 142%;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  width: 100%;
}

.faq__item-title span {
  width: 34px;
  height: 34px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34px;
          flex: 0 0 34px;
  border-radius: 50%;
  background: #9960E1;
  position: relative;
}

.faq__item-title span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 16px;
  height: 1.5px;
  background: #FFFFFF;
}

.faq__item-title span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 16px;
  width: 1.5px;
  background: #FFFFFF;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.faq__item-title._spoller-active span::after {
  height: 0;
}

.faq__item-body {
  padding-top: 15px;
  max-width: 270px;
}

.faq__item-body p:not(:last-child) {
  margin-bottom: 6px;
}

.faq__item-body span {
  display: block;
  color: #9960E1;
  font-weight: 600;
}

.contact {
  margin-bottom: 45px;
}

.contact__title {
  margin-bottom: 5px;
}

.contact__text {
  font-family: "OpenSans";
  font-weight: 700;
  font-size: 15px;
  line-height: 142%;
  margin-bottom: 25px;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}